body {
    display: flex;

}

.left {
    width: 50%;
    height: auto;
    background-color: black;
}

.right {
    width: 550px;
    height: 750px;
    border: solid;
}
.forms {
    display: flex;
    flex-wrap: wrap;
}